<form action="/cuisine/delete/all/confirmation" method="post">
  <label for="confirm">Yes!  Delete all of them.</label>
  <input type="checkbox" name="confirm" value="true">
  <button type="submit">I'm super sure about this.</button>
</form>
<a href="/">Go back</a>
